@import "tailwindcss";
:root {
    --bg-color-black: #222;
    --bg-color-white: #fafafa;
}

.dark {
    background-color: var(--bg-color-black);
    color: var(--bg-color-white)
}

@layer utilities {
    .container {
        @apply sm:w-[80%] md:w-[60%] mx-auto;
    }
}


/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
